# Ambienti virtuali
venv/
.venv/
env/

# File Python compilati
__pycache__/
*.pyc
*.pyo

# File di sistema
.DS_Store        # Mac
Thumbs.db        # Windows

# Variabili d'ambiente e segreti
.env
secrets.py

# VSCode
.vscode/